# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GunsAmmo.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\thibb\Desktop\ProjetVR_Tuto-main\GunsAmmo\.idea\.idea.GunsAmmo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
