# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LockPlayer.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\thibb\Desktop\Cours\M1\S2\Prog 3D\LockPlayer\.idea\.idea.LockPlayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
